p Hello,
p Use the following link to reset your password:
p https://tse-recruitment-portal.herokuapp.com/reset-password/#{token}
p This link will expire in 1 hour. Please ignore this email if you did not request a password change.
