p Dear #{name},
p Thank you for taking the time to meet and interview with the members of Triton Software Engineering (TSE). Based on your interview results, we have great news - you made it!
p You will receive a follow-up email from our VP Internal, Benson Budiman, with more details about the onboarding process. Please direct any questions you may have to Benson. This email is sent from a send-only account, so do not reply to this email.
p Once again, congratulations on your admission into Triton Software Engineering! We all look forward to working with you!
    br 
    | TSE Recruitment