p Dear #{name},
p Thank you for applying to TSE for the #{role} position! We will be in touch shortly if there is a match.
p Please keep this email as confirmation that we have received your application.
p Regards, 
    br 
    | TSE Recruitment