p Dear #{name},
p Thank you for your interest in Triton Software Engineering. Unfortunately, we cannot offer you a #{role} position in our organization at this time.
p Our team was impressed by your skills and accomplishments, and we invite you to apply again in subsequent quarters as our organization grows and more spots open up. We will keep your resume on file for future openings.
p We wish you the best on your future professional and collegiate endeavors.
p Regards, 
    br 
    | TSE Recruitment
