p Hello #{reviewer},
p You have been assigned to review #{applicant}’s #{role.name} application for the #{current_stage} stage. Please complete this in a timely manner. Have a nice day!
p A list of application assignments awaiting your review can be found at https://tse-recruitment-portal.herokuapp.com/assignments.
